{% extends 'templates/global/base.html' %}
{% block content %}
    <section>
        <h2>{{ h2 }}</h2>
        <b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur nisi praesentium porro reiciendis enim hic doloremque earum quo consequatur!</b>
    
        <article>
            <h3>Parte 1</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam perferendis unde assumenda, voluptates recusandae vel, doloremque eius corrupti debitis non repudiandae natus nulla quae tempore, aliquid velit! Dolorem, ea doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, dignissimos provident eaque consequatur quam inventore, autem beatae doloremque nostrum aut totam. Alias nam provident impedit? Itaque nulla voluptate ex esse?
        </article>
    
        <article>
            <h3>Parte 2</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam perferendis unde assumenda, voluptates recusandae vel, doloremque eius corrupti debitis non repudiandae natus nulla quae tempore, aliquid velit! Dolorem, ea doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, dignissimos provident eaque consequatur quam inventore, autem beatae doloremque nostrum aut totam. Alias nam provident impedit? Itaque nulla voluptate ex esse?
        </article>
    
        <article>
            <h3>Parte 3</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam perferendis unde assumenda, voluptates recusandae vel, doloremque eius corrupti debitis non repudiandae natus nulla quae tempore, aliquid velit! Dolorem, ea doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, dignissimos provident eaque consequatur quam inventore, autem beatae doloremque nostrum aut totam. Alias nam provident impedit? Itaque nulla voluptate ex esse?
        </article>
    </section>
{% endblock %}